@model K9.WebApplication.Models.MyAccountViewModel
@{
    ViewBag.Title = Dictionary.MyAccountTitle;
    ViewBag.SubTitle = Dictionary.MyAccountTitle;
    Layout = "~/Views/Shared/_LayoutFormSmall.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#account">@Dictionary.UpdateYourDetails</a></li>
</ul>

<div class="tab-content">
    <div id="account" class="tab-pane fade in active">
        @Html.Partial("_AccountDetails", Model.User)
    </div>
</div>

