@model K9.Base.WebApplication.ViewModels.LinkViewModel

<a target="_blank" href="@Model.Url">
    <p>@Model.Url</p>
    <br />
    <div class="link-image-preview" data-url="@Model.Url">
    </div>
</a>