@using K9.Base.WebApplication.Extensions
@using K9.SharedLibrary.Authentication
@{
    var roles = this.GetRoles();
}
@if (!roles.CurrentUserIsInRoles(RoleNames.Administrators) && !roles.CurrentUserHasPermissions<NewsItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
{
    <div id="plant-iboga-banner" class="menu-main">
        <a href="@Url.Action("SponsorIbogaStart", "Support")">
            <img class="plant-iboga iboga-med" src="~/Images/iboga/plant-a-tree-med.png" />
            <img class="plant-iboga iboga-small" src="~/Images/iboga/plant-a-tree-small.png" />
        </a>
        <div class="iboga-text-container">
            @*<div id="close-banner"><i id="close-plant-iboga" class="fa fa-close"></i></div>*@
            <a href="@Url.Action("SponsorIbogaStart", "Support")">
                <div id="iboga-text">
                    <span>
                        @K9.Globalisation.Dictionary.SponsorIbogaTree
                    </span>
                </div>
            </a>
        </div>
    </div>

    <script type="text/javascript">
        $("#close-plant-iboga").click(function ()
        {
            $("div#plant-iboga-banner").fadeOut();
        });
    </script>
}