@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Authentication

@{
    var roles = this.GetRoles();
}
<div id="social-media-banner">
    <div class="container">
        <div class="col-sm-12 padding-top-5">
            <a href="https://www.facebook.com/YannNgil/" target="_blank"><img alt="Facebook" src="~/Images/icons/facebook.png" /></a>
            <a href="https://www.instagram.com/blessingsoftheforest/" target="_blank"><img alt="Instagram" src="~/Images/icons/instagram.png" /></a>
        </div>
    </div>
</div>