<div class="main-section botf-context">
    <div class="container">
        <div class="main-heading">
            <h3>@K9.Globalisation.Dictionary.botf_context_title</h3>
        </div>
        <div class="container reveal-text">
            <div>
                <div class="col-md-12 scrollFadeIn">
                    <div class="picture-frame picture-frame-large-x pull-right margin-left-15">
                        <div>
                            <img src="~/Images/home/gabon_map.jpg" alt="" />
                        </div>
                    </div>
                    <article class="margin-top-minus-15 clear-on-device scrollFadeIn">
                        @MvcHtmlString.Create(K9.Globalisation.Dictionary.botf_context1)
                    </article>
                </div>
                <div class="col-md-12 scrollFadeIn">
                    <div class="picture-frame picture-frame-large-x pull-left margin-right-15">
                        <div>
                            <img src="~/Images/home/image8.jpg" alt="" />
                        </div>
                    </div>
                    <article class="clear-on-device scrollFadeIn">
                        @MvcHtmlString.Create(K9.Globalisation.Dictionary.botf_context2)
                    </article>
                </div>
                <div class="col-md-12 scrollFadeIn">
                    <div class="picture-frame picture-frame-large-x pull-right margin-left-15">
                        <div>
                            <img src="~/Images/home/iboga.jpg" alt="" />
                        </div>
                    </div>
                    <article class="clear-on-device scrollFadeIn">
                        @MvcHtmlString.Create(K9.Globalisation.Dictionary.botf_context3)
                    </article>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>