@using K9.Base.WebApplication.Helpers
@{
    ViewBag.Title = K9.Globalisation.Dictionary.MembershipOptions;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.SwitchSuccessfulTitle;
    ViewBag.BackgroundClass = "background-poaching1";
    Layout = "../Shared/_LayoutForm.cshtml";
}
@Html.Success(K9.Globalisation.Dictionary.SwitchSuccessful + " <i class='fa fa-smile-o'></i>")

<div class="text-center padding-10">
    @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.GoToMultimediaLibrary, "Index", "Archive")
</div>

<hr />
<div class="picture-frame margin-bottom-30">
    <div>
        @Html.Carousel(new CarouselOptions("Images/home/botf", "", 70)
        {
            ImageSizing = EImageSizing.Horizontal
        })
    </div>
    @Html.Partial("_PhotosBy")
</div>