.membership-option-container {
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    padding-bottom: 12px;
    text-align: center;
    width: 150px;
    height: 200px;
    border: 1px solid #a7a7a7;
    border-radius: 6px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.membership-option-title {
    margin-top: 8px;
}

.membership-option {
    width: 200px;
    position: relative;
}

.membership-medal {
    width: 200px;
    height: 200px;
    background-position-y: bottom !important;
    background-position-x: center !important;
    background-size: contain !important;
}

.membership-medal-item {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #e2e2e2;
}

.membership-price {
    top: 52px;
    font-size: 0.8em;
}

.membership-element {
    top: 71px;
    font-size: 1.1em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.membership-period {
    top: 133px;
    font-size: 0.8em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.membership-description {
    font-size: 0.8em;
    color: #888888;
    margin-top: 5px;
    text-align: left;
    padding: 5px;
}

.platinum {
    background: url(../../../Images/membership/platinum-membership.jpg) no-repeat 0 0;
}

    .platinum .membership-element {
        color: white;
    }

.standard {
    background: url(../../../Images/membership/standard-membership.jpg) no-repeat 0 0;
}

.membership-selected-image {
    zoom: 50%;
}

.membership-selected {
    border: 2px solid #ff4500;
}   