.support-us-option {
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    width: 150px;
    height: 200px;
    border: 1px solid #a7a7a7;
    border-radius: 6px;
    padding: 5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

    .support-us-option h4 {
        color: black;
        height: 40px;
    }

.support-item {
    width: 200px;
    height: 200px;
    background-position-y: bottom !important;
    background-position-x: center !important;
    background-size: contain !important;
}

.support-shop {
    background: url(../../../Images/support/tshirt.jpg) no-repeat 0 0;
}

.support-iboga {
    background: url(../../../Images/support/plant-a-tree-bw.jpg) no-repeat 0 0;
}

.support-donate {
    background: url(../../../Images/support/donate.jpg) no-repeat 0 0;
}

.support-benefactor {
    background: url(../../../Images/support/benefactor.jpg) no-repeat 0 0;
}
