@{
    ViewBag.Title = K9.Globalisation.Dictionary.Projects;
}
<div id="main-banner" class="banner-default main-menu">
    @Html.Partial("_Navbar")
</div>

<div id="myShop">
    <a href="//shop.spreadshirt.co.uk/blessingsoftheforest">blessingsoftheforest</a>
</div>

<script>
    var spread_shop_config = {
        shopName: 'blessingsoftheforest',
        locale: 'fr_GB',
        prefix: '//shop.spreadshirt.co.uk',
        baseId: 'myShop'
    };
</script>

<script type="text/javascript"
        src="//shop.spreadshirt.co.uk/shopfiles/shopclient/shopclient.nocache.js">
</script>