@media(max-width:1580px) {
    div#plant-iboga-banner.menu-main {
        top: 20px;
    }

    div#plant-iboga-banner.menu-small {
        top: 12px;
    }

    div#plant-iboga-banner div.iboga-text-container {
        top: 9px;
        left: 80px;
        height: 38px;
        width: 200px;
        margin-left: -20px;
        margin-top: 10px;
    }

        div#plant-iboga-banner div.iboga-text-container div#iboga-text {
            font-size: 0.8em;
            font-weight: normal;
            height: 20px;
            padding: 0;
        }

            div#plant-iboga-banner div.iboga-text-container div#iboga-text span {
                display: inline-block;
            }

        div#plant-iboga-banner div.iboga-text-container div#close-banner {
            display: none;
        }

    img.iboga-med {
        display: none;
    }

    img.iboga-small {
        display: block;
    }
}
